<style>
    @import url("/styles/common.css");

    .card {
        box-sizing: border-box;
        padding: 0.75em 0 0 0;
        height: 10em;
        width: 15em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: var(--grey);
    }

    .card:hover {
        background-color: var(--white-backdrop);
        text-decoration-color: var(--white-backdrop);

        transition: background-color 0.5s ease, text-decoration-color 0.5s ease;
    }

    .card > * {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card .top {
        height: 80%;
        overflow: hidden;
    }

    .top img {
        max-width: 100%;
        object-fit: cover;
    }

    .card .bottom {
        height: 20%;
        box-sizing: border-box;
        padding: 0 0.5em 0 0.5em;
    }
</style>

<div class="card">
    <div class="top">
        <slot name="image"></slot>
    </div>
    <div class="bottom">
        <slot name="title"></slot>
    </div>
</div>
