#vision-sim {
    flex-grow: 1;
    width: 100%;
}

#vision-sim .canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#vision-sim .canvas .row {
    min-width: 100%;
    flex-basis: 100%;
    gap: 0;
}

#vision-sim .canvas .row .tile {
    min-width: calc(100% / 20);
    aspect-ratio: 1 / 1;
    background-color: var(--white-backdrop);
    outline: 1px solid var(--black);
}

#vision-sim .canvas .row .tile:hover {
    background-color: var(--white);
}
