# src: https://github.com/phanan/htaccess Edited.

# Rewrites and Redirects
RewriteEngine On

## Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R]

# Security

## Deny access to hidden (dot) files
RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]

## Deny access to backup and src Files
<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp|md)|~)$">
    Require all denied
</FilesMatch>

## Disable directory browsing
Options All -Indexes

## Disable image hotlinking
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https?://(.+\.)?example.com [NC]
RewriteRule \.(jpe?g|png|gif|bmp|svg)$ - [NC,F,L]