body, html {
    /* appearance */
    
    /* dimensions and positioning */
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    /* appearance */
    background: black;
    color: lime;

    /* dimensions and positioning */
    display: flex;
    flex-direction: row;
}

.map-container {
    /* appearance */
    background: black;

    /* dimensions and positioning */
    height: 100%;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
}

.galaxy-map {
    /* appearance */

    /* dimensions and positioning */
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

.galaxy-map-visual-choice {
    /* appearance */
    border-top: 1px solid lime;
    background-color: black;

    /* dimensions and positioning */
    height: auto;
}

.sectors {
    /* appearance */

    /* dimensions and positioning */
    width: 100%;
    height: 100%;
    display: block;
}

.sectors polygon {
    /* appearance */
    fill: black;
    stroke: lime;
    stroke-width: 2;
    paint-order: stroke fill;
    transition: 0.5s;

    /* dimensions and positioning */
}

.sectors polygon:hover {
    /* appearance */
    fill: lime;
    cursor: crosshair;

    /* dimensions and positioning */
}

.sectors polygon[data-checked="true"] {
    /* appearance */
    fill: magenta;
    cursor: crosshair;

    /* dimensions and positioning */
}

.alphabet-selectors {
    /* appearance */
    background-color: black;
    border-left: 1px solid lime;
    border-right: 1px solid lime;

    /* dimensions and positioning */
    min-width: 3em;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.alphabet-selectors > input[type="radio"],
.sector-selectors > input[type="radio"] {
    /* appearance */
    visibility: hidden;

    /* dimensions and positioning */
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.alphabet-selectors > label,
.sector-selectors > label {
    /* appearance */
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s;
    font-size: 150%;
    white-space: nowrap;

    /* dimensions and positioning */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: calc(100% / 26);
    box-sizing: border-box;
}

.alphabet-selectors > label:hover,
.alphabet-selectors input[type="radio"]:checked+label,
.sector-selectors > label:hover, 
.sector-selectors input[type="radio"]:checked+label {
    /* appearance */
    color: black;
    background-color: lime;

    /* dimensions and positioning */
}

.sector-selectors {
    /* appearance */
    background-color: black;

    /* dimensions and positioning */
    padding: 0;
    min-width: 15em;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
}

.sector-selectors > label {
    /* appearance */

    /* dimensions and positioning */
    padding-left: 0.25em;
    padding-right: 1em;
    justify-content: flex-start;
}

.mouse-tooltip {
    /* appearance */
    border: 1px solid lime;
    background: black;
    visibility: hidden;

    /* dimensions and positioning */
    width: auto;
    height: auto;
    position: absolute;
    padding: .25em;
}



/* helper classes, should be at bottom */
.visible {
    /* appearance */
    visibility: visible;

    /* dimensions and positioning */
}