body, html {
    /* appearance */
    background: grey;
    color: white;

    /* dimensions and positioning */
    width: 100%;
    height: 100%;
    margin: 0;
}

.galaxy-map {
    /* appearance */
    background: black;

    /* dimensions and positioning */
    width: 1000px;
    height: 1000px;
}

.sectors {
    /* appearance */

    /* dimensions and positioning */
    width: 100%;
    height: 100%;
}