body, html {
    /* appearance */
    
    /* dimensions and positioning */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* appearance */
    background: grey;
    color: lime;

    /* dimensions and positioning */
    display: flex;
    flex-direction: row;
}

.map-container {
    /* appearance */
    background: black;

    /* dimensions and positioning */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.galaxy-map {
    /* appearance */

    /* dimensions and positioning */
    height: calc(100% - 5%);
    aspect-ratio: 1 / 1;
}

.galaxy-map-visual-choice {
    /* appearance */
    border-top: 1px solid lime;

    /* dimensions and positioning */
    height: 5%;
}

.sectors {
    /* appearance */

    /* dimensions and positioning */
    width: 100%;
    height: 100%;
    display: block;
}

.sectors polygon:hover {
    /* appearance */
    fill: lime;
    cursor: crosshair;

    /* dimensions and positioning */
}

.mouse-tooltip {
    /* appearance */
    border: 1px solid lime;
    background: black;
    visibility: hidden;

    /* dimensions and positioning */
    width: auto;
    height: auto;
    position: absolute;
    padding: .25em;
}



/* helper classes, should be at bottom */
.visible {
    /* appearance */
    visibility: visible;

    /* dimensions and positioning */
}