body, html {
    /* appearance */
    background: grey;
    color: white;

    /* dimensions and positioning */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.galaxy-map {
    /* appearance */
    background: black;

    /* dimensions and positioning */
    height: 100%;
    aspect-ratio: 1 / 1;
}

.sectors {
    /* appearance */

    /* dimensions and positioning */
    width: 100%;
    height: 100%;
    display: block;
}