body, html {
    /* appearance */
    
    /* dimensions and positioning */
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    /* appearance */
    background: black;
    color: lime;

    /* dimensions and positioning */
    display: flex;
    flex-direction: row;
}

.map-container {
    /* appearance */
    background: black;

    /* dimensions and positioning */
    height: 100%;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
}

.galaxy-map {
    /* appearance */

    /* dimensions and positioning */
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

.galaxy-map-visual-choice {
    /* appearance */
    border-top: 1px solid lime;
    background-color: black;

    /* dimensions and positioning */
    min-height: calc(100% / 26);
}

.sectors {
    /* appearance */

    /* dimensions and positioning */
    width: 100%;
    height: 100%;
    display: block;
}

.sectors polygon {
    /* appearance */
    fill: black;
    stroke: lime;
    stroke-width: 2;
    paint-order: stroke fill;
    transition: 0.5s;

    /* dimensions and positioning */
}

.sectors polygon:hover {
    /* appearance */
    fill: lime;
    cursor: crosshair;

    /* dimensions and positioning */
}

.sectors polygon[data-checked="true"] {
    /* appearance */
    fill: red;
    cursor: crosshair;

    /* dimensions and positioning */
}

.alphabet-selectors {
    /* appearance */
    background-color: black;
    border-left: 1px solid lime;
    border-right: 1px solid lime;

    /* dimensions and positioning */
    min-width: 3em;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.alphabet-selectors > input[type="radio"],
.sector-selectors > input[type="radio"], 
.system-selectors > input[type="radio"]{
    /* appearance */
    visibility: hidden;

    /* dimensions and positioning */
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.alphabet-selectors > label,
.sector-selectors > label,
.system-selectors > label {
    /* appearance */
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s;
    font-size: 150%;
    white-space: nowrap;

    /* dimensions and positioning */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: calc(100% / 26);
    box-sizing: border-box;
}

.alphabet-selectors > label:hover,
.alphabet-selectors input[type="radio"]:checked+label,
.sector-selectors > label:hover, 
.sector-selectors input[type="radio"]:checked+label,
.system-selectors > label:hover, 
.system-selectors input[type="radio"]:checked+label {
    /* appearance */
    color: black;
    background-color: lime;

    /* dimensions and positioning */
}

.sector-selectors,
.system-selectors {
    /* appearance */
    background-color: black;
    border-right: 1px solid lime;

    /* dimensions and positioning */
    padding: 0;
    min-width: 15em;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;
}

.sector-selectors > label,
.system-selectors > label {
    /* appearance */

    /* dimensions and positioning */
    padding-left: 0.25em;
    padding-right: 0.25em;
    justify-content: flex-start;
}

.sector-details {
    /* appearance */

    /* dimensions and positioning */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 600px;
}

.sector-map {
    /* appearance */
    outline: 1px solid lime;

    /* dimensions and positioning */
    height: 100%;
    width: auto;
    margin: 0.5em;
    padding: auto;
    max-height: calc(100% - ((100% / 26) * 4));;
}

.sector-map polygon {
    /* appearance */
    fill: black;
    stroke: lime;
    stroke-width: 2;
    paint-order: stroke fill;
    transition: 0.5s;
    cursor: crosshair;

    /* dimensions and positioning */
}

.sector-map rect {
    /* appearance */
    fill: red;
    cursor: crosshair;

    /* dimensions and positioning */
    width: 1px;
    height: 1px;
}

.sector-map rect.system-hitbox {
    /* appearance */
    fill: transparent;

    /* dimensions and positioning */
    width: 1.5px;
    height: 1.5px;
}

.sector-map-controls {
    /* appearance */

    /* dimensions and positioning */
    min-height: calc((100% / 26) * 4);
}

.mouse-tooltip {
    /* appearance */
    border: 1px solid lime;
    background: black;
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;

    /* dimensions and positioning */
    width: auto;
    height: auto;
    position: absolute;
    padding: .25em;
}



/* helper classes, should be at bottom */
.visible {
    /* appearance */
    visibility: visible;

    /* dimensions and positioning */
}