:root {
    --dark-red: #a50000;
    --dark-grey: #161616;
    --grey: #242424;
    --black: #101010;
    --white: #eeeeee;
    --white-backdrop: #eeeeee33;

    --nav-height: 2em;
    --nav-margin: 0.5em;
    --nav-letter-spacing: 4px;
}

html,
body {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

body {
    background-color: var(--black);
    color: var(--white);

    font-family: "Helvetica Neue", sans-serif;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.grey-header {
    color: #aaaaaa;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

main-content {
    width: 100%;
    background-color: var(--dark-grey);
    min-height: calc(100% - 1em);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em 1em 1em;
    box-sizing: border-box;
}

nav-bar {
    width: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: var(--white);
    text-decoration: none;
}

* {
    max-width: 100%;
}

.justified-text {
    text-align: justify;
    text-justify: inter-word;
}

.horizontal-ulist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.horizontal-ulist ul li {
    display: inline;
}

.horizontal-ulist ul li:not(#dot) {
    font-family: "Courier New", Courier, monospace, sans-serif;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.horizontal-ulist ul li:hover:not(#dot) {
    text-decoration-color: var(--white);
    transition: background-color 0.5s ease, text-decoration-color 0.5s ease;
}

/* larger than mobile */
@media only screen and (min-width: 600px) {
    main-content {
        max-width: 600px;
    }
}

/* ========================================================================== */
/* To combat FOUC */

body {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
