:root {
    --dark-red: #A50000;
    --dark-grey: #161616;
    --grey: #242424;
    --black: #101010;
    --white: #EEEEEE; 
}

html, body {
    height: 100%;
}

body {
    background-color: var(--black);
    color: var(--white);

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.col { flex-direction: column; }
.row { flex-direction: row; }

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

main-content {
    width: 100%;
    min-height: 100%;
}

/* larger than mobile */
@media only screen and (min-width: 600px) {
    main-content {
        width: 50%;
    }
}