:root {
    --dark-red: #a50000;
    --dark-grey: #161616;
    --grey: #242424;
    --black: #101010;
    --white: #eeeeee;
    --white-backdrop: #eeeeee33;

    --nav-height: 2em;
    --nav-margin: 0.5em;
    --nav-letter-spacing: 4px;

    --win95-bg: #008080;
    --win95-window-bg-color: lightgrey;
    --win95-window-header-bg-color: darkblue;
    --win95-window-header-bg-color-unavailable: #828282;
    --win95-window-header-text-color: white;
    --win95-window-header-text-color-unavailable: #c3c3c3;
    --win95-window-shadow-black: black;
    --win95-window-shadow-dark: darkgrey;
    --win95-window-shadow-light: lightgrey;
    --win95-window-shadow-lighter: #e8e8e8;
    --win95-window-shadow-white: white;
    --win95-text-color-normal: black;
    --win95-text-color-unavailable: grey;
    --win95-text-color-white: white;
    --win95-text-background-unavailable: #c3c3c3;

    --win95-header-height: 40px;
    --win95-taskbar-height: 50px;
    --win95-taskbar-pixel-size: 2px;
    --win95-window-shadow-width: 6px;
}

@font-face {
    font-family: "W95FA";
    src: url("../assets/fonts/w95fa/w95fa.woff2");
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

body {
    background-color: var(--win95-bg);
    color: var(--white);

    font-family: "Helvetica Neue", sans-serif;
}

div.canvas {
    width: 100%;
    height: calc(100% - var(--win95-taskbar-height));
}

/* ========================================================================== */
/* To combat FOUC */

body {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
