.win95_desktop_icon {
    /* dimensions and positioning */
    width: calc(2 * 48px);
    height: calc(2 * 48px + 24px + 0.15em);
    display: flex;
    flex-direction: column;
    gap: 0.15em;
}

.win95_desktop_icon:hover {
    /* appearance */
    background-color: rgba(169, 169, 169, 0.1);
    outline: 2px dashed rgba(169, 169, 169, 0.1);
}

.win95_desktop_icon_image {
    /* dimensions and positioning */
    width: 100%;
    height: calc(2 * 48px);
}

span.win95_desktop_icon_text {
    /* dimensions and positioning */
    width: calc((2 * 48px) - (2 * 0.15em));
    padding: 0.15em;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    /* appearance */
    color: var(--win95-text-color-white);
    font-family: "W95FA";
    font-size: 24px;
    text-overflow: ellipsis;
}

mark.win95_desktop_icon_text {
    /* appearance */
    background-color: var(--win95-text-background-unavailable);
    color: var(--win95-text-color-normal);
}

/* internet icon with magnifying glass */
.win95_desktop_icon_image#internet .win95_pixel {
    /* dimensions and positioning */
    width: 2px;
    height: 2px;
    margin-left: -2px;
    margin-top: -2px;

    /* appearance W x H */
    /*// prettier-ignore */
    box-shadow: calc(8px * 2 + 12px * 2) calc(8px * 2 + 0px * 2) gray,
        calc(8px * 2 + 13px * 2) calc(8px * 2 + 0px * 2) gray,
        calc(8px * 2 + 14px * 2) calc(8px * 2 + 0px * 2) gray,
        calc(8px * 2 + 15px * 2) calc(8px * 2 + 0px * 2) gray,
        calc(8px * 2 + 16px * 2) calc(8px * 2 + 0px * 2) gray,
        calc(8px * 2 + 17px * 2) calc(8px * 2 + 0px * 2) gray,
        calc(8px * 2 + 18px * 2) calc(8px * 2 + 0px * 2) gray,
        calc(8px * 2 + 19px * 2) calc(8px * 2 + 0px * 2) gray,
        calc(8px * 2 + 20px * 2) calc(8px * 2 + 0px * 2) gray,
        calc(8px * 2 + 10px * 2) calc(9px * 2 + 0px * 2) gray,
        calc(8px * 2 + 11px * 2) calc(9px * 2 + 0px * 2) gray,
        calc(8px * 2 + 12px * 2) calc(9px * 2 + 0px * 2) gray,
        calc(8px * 2 + 13px * 2) calc(9px * 2 + 0px * 2) white,
        calc(8px * 2 + 14px * 2) calc(9px * 2 + 0px * 2) white,
        calc(8px * 2 + 15px * 2) calc(9px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 16px * 2) calc(9px * 2 + 0px * 2) lime,
        calc(8px * 2 + 17px * 2) calc(9px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 18px * 2) calc(9px * 2 + 0px * 2) lime,
        calc(8px * 2 + 19px * 2) calc(9px * 2 + 0px * 2) green,
        calc(8px * 2 + 20px * 2) calc(9px * 2 + 0px * 2) lime,
        calc(8px * 2 + 21px * 2) calc(9px * 2 + 0px * 2) green,
        calc(8px * 2 + 22px * 2) calc(9px * 2 + 0px * 2) green,
        calc(8px * 2 + 23px * 2) calc(9px * 2 + 0px * 2) green,
        calc(8px * 2 + 8px * 2) calc(10px * 2 + 0px * 2) gray,
        calc(8px * 2 + 9px * 2) calc(10px * 2 + 0px * 2) gray,
        calc(8px * 2 + 10px * 2) calc(10px * 2 + 0px * 2) white,
        calc(8px * 2 + 11px * 2) calc(10px * 2 + 0px * 2) white,
        calc(8px * 2 + 12px * 2) calc(10px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 13px * 2) calc(10px * 2 + 0px * 2) lime,
        calc(8px * 2 + 14px * 2) calc(10px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 15px * 2) calc(10px * 2 + 0px * 2) lime,
        calc(8px * 2 + 16px * 2) calc(10px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 17px * 2) calc(10px * 2 + 0px * 2) lime,
        calc(8px * 2 + 18px * 2) calc(10px * 2 + 0px * 2) green,
        calc(8px * 2 + 19px * 2) calc(10px * 2 + 0px * 2) lime,
        calc(8px * 2 + 20px * 2) calc(10px * 2 + 0px * 2) green,
        calc(8px * 2 + 21px * 2) calc(10px * 2 + 0px * 2) green,
        calc(8px * 2 + 22px * 2) calc(10px * 2 + 0px * 2) green,
        calc(8px * 2 + 23px * 2) calc(10px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 24px * 2) calc(10px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 25px * 2) calc(10px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 7px * 2) calc(11px * 2 + 0px * 2) gray,
        calc(8px * 2 + 8px * 2) calc(11px * 2 + 0px * 2) white,
        calc(8px * 2 + 9px * 2) calc(11px * 2 + 0px * 2) white,
        calc(8px * 2 + 10px * 2) calc(11px * 2 + 0px * 2) white,
        calc(8px * 2 + 11px * 2) calc(11px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 12px * 2) calc(11px * 2 + 0px * 2) lime,
        calc(8px * 2 + 13px * 2) calc(11px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 14px * 2) calc(11px * 2 + 0px * 2) lime,
        calc(8px * 2 + 15px * 2) calc(11px * 2 + 0px * 2) green,
        calc(8px * 2 + 16px * 2) calc(11px * 2 + 0px * 2) lime,
        calc(8px * 2 + 17px * 2) calc(11px * 2 + 0px * 2) green,
        calc(8px * 2 + 18px * 2) calc(11px * 2 + 0px * 2) green,
        calc(8px * 2 + 19px * 2) calc(11px * 2 + 0px * 2) green,
        calc(8px * 2 + 20px * 2) calc(11px * 2 + 0px * 2) green,
        calc(8px * 2 + 21px * 2) calc(11px * 2 + 0px * 2) green,
        calc(8px * 2 + 22px * 2) calc(11px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 23px * 2) calc(11px * 2 + 0px * 2) blue,
        calc(8px * 2 + 24px * 2) calc(11px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 25px * 2) calc(11px * 2 + 0px * 2) blue,
        calc(8px * 2 + 26px * 2) calc(11px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 6px * 2) calc(12px * 2 + 0px * 2) gray,
        calc(8px * 2 + 7px * 2) calc(12px * 2 + 0px * 2) white,
        calc(8px * 2 + 8px * 2) calc(12px * 2 + 0px * 2) white,
        calc(8px * 2 + 9px * 2) calc(12px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 10px * 2) calc(12px * 2 + 0px * 2) lime,
        calc(8px * 2 + 11px * 2) calc(12px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 12px * 2) calc(12px * 2 + 0px * 2) green,
        calc(8px * 2 + 13px * 2) calc(12px * 2 + 0px * 2) lime,
        calc(8px * 2 + 14px * 2) calc(12px * 2 + 0px * 2) green,
        calc(8px * 2 + 15px * 2) calc(12px * 2 + 0px * 2) green,
        calc(8px * 2 + 16px * 2) calc(12px * 2 + 0px * 2) green,
        calc(8px * 2 + 17px * 2) calc(12px * 2 + 0px * 2) green,
        calc(8px * 2 + 18px * 2) calc(12px * 2 + 0px * 2) green,
        calc(8px * 2 + 19px * 2) calc(12px * 2 + 0px * 2) green,
        calc(8px * 2 + 20px * 2) calc(12px * 2 + 0px * 2) green,
        calc(8px * 2 + 21px * 2) calc(12px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 22px * 2) calc(12px * 2 + 0px * 2) blue,
        calc(8px * 2 + 23px * 2) calc(12px * 2 + 0px * 2) teal,
        calc(8px * 2 + 24px * 2) calc(12px * 2 + 0px * 2) blue,
        calc(8px * 2 + 25px * 2) calc(12px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 26px * 2) calc(12px * 2 + 0px * 2) blue,
        calc(8px * 2 + 27px * 2) calc(12px * 2 + 0px * 2) black,
        calc(8px * 2 + 5px * 2) calc(13px * 2 + 0px * 2) gray,
        calc(8px * 2 + 6px * 2) calc(13px * 2 + 0px * 2) white,
        calc(8px * 2 + 7px * 2) calc(13px * 2 + 0px * 2) white,
        calc(8px * 2 + 8px * 2) calc(13px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 9px * 2) calc(13px * 2 + 0px * 2) lime,
        calc(8px * 2 + 10px * 2) calc(13px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(13px * 2 + 0px * 2) lime,
        calc(8px * 2 + 12px * 2) calc(13px * 2 + 0px * 2) green,
        calc(8px * 2 + 13px * 2) calc(13px * 2 + 0px * 2) green,
        calc(8px * 2 + 14px * 2) calc(13px * 2 + 0px * 2) green,
        calc(8px * 2 + 15px * 2) calc(13px * 2 + 0px * 2) green,
        calc(8px * 2 + 16px * 2) calc(13px * 2 + 0px * 2) blue,
        calc(8px * 2 + 17px * 2) calc(13px * 2 + 0px * 2) blue,
        calc(8px * 2 + 18px * 2) calc(13px * 2 + 0px * 2) green,
        calc(8px * 2 + 19px * 2) calc(13px * 2 + 0px * 2) green,
        calc(8px * 2 + 20px * 2) calc(13px * 2 + 0px * 2) teal,
        calc(8px * 2 + 21px * 2) calc(13px * 2 + 0px * 2) blue,
        calc(8px * 2 + 22px * 2) calc(13px * 2 + 0px * 2) teal,
        calc(8px * 2 + 23px * 2) calc(13px * 2 + 0px * 2) blue,
        calc(8px * 2 + 24px * 2) calc(13px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 25px * 2) calc(13px * 2 + 0px * 2) blue,
        calc(8px * 2 + 26px * 2) calc(13px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 27px * 2) calc(13px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 28px * 2) calc(13px * 2 + 0px * 2) black,
        calc(8px * 2 + 4px * 2) calc(14px * 2 + 0px * 2) gray,
        calc(8px * 2 + 5px * 2) calc(14px * 2 + 0px * 2) white,
        calc(8px * 2 + 6px * 2) calc(14px * 2 + 0px * 2) white,
        calc(8px * 2 + 7px * 2) calc(14px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 8px * 2) calc(14px * 2 + 0px * 2) lime,
        calc(8px * 2 + 9px * 2) calc(14px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(14px * 2 + 0px * 2) lime,
        calc(8px * 2 + 11px * 2) calc(14px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(14px * 2 + 0px * 2) green,
        calc(8px * 2 + 13px * 2) calc(14px * 2 + 0px * 2) green,
        calc(8px * 2 + 14px * 2) calc(14px * 2 + 0px * 2) green,
        calc(8px * 2 + 15px * 2) calc(14px * 2 + 0px * 2) blue,
        calc(8px * 2 + 16px * 2) calc(14px * 2 + 0px * 2) blue,
        calc(8px * 2 + 17px * 2) calc(14px * 2 + 0px * 2) teal,
        calc(8px * 2 + 18px * 2) calc(14px * 2 + 0px * 2) blue,
        calc(8px * 2 + 19px * 2) calc(14px * 2 + 0px * 2) teal,
        calc(8px * 2 + 20px * 2) calc(14px * 2 + 0px * 2) blue,
        calc(8px * 2 + 21px * 2) calc(14px * 2 + 0px * 2) teal,
        calc(8px * 2 + 22px * 2) calc(14px * 2 + 0px * 2) blue,
        calc(8px * 2 + 23px * 2) calc(14px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 24px * 2) calc(14px * 2 + 0px * 2) blue,
        calc(8px * 2 + 25px * 2) calc(14px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 26px * 2) calc(14px * 2 + 0px * 2) blue,
        calc(8px * 2 + 27px * 2) calc(14px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 28px * 2) calc(14px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 29px * 2) calc(14px * 2 + 0px * 2) black,
        calc(8px * 2 + 3px * 2) calc(15px * 2 + 0px * 2) gray,
        calc(8px * 2 + 4px * 2) calc(15px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 5px * 2) calc(15px * 2 + 0px * 2) green,
        calc(8px * 2 + 6px * 2) calc(15px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 7px * 2) calc(15px * 2 + 0px * 2) lime,
        calc(8px * 2 + 8px * 2) calc(15px * 2 + 0px * 2) green,
        calc(8px * 2 + 9px * 2) calc(15px * 2 + 0px * 2) lime,
        calc(8px * 2 + 10px * 2) calc(15px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(15px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(15px * 2 + 0px * 2) green,
        calc(8px * 2 + 13px * 2) calc(15px * 2 + 0px * 2) green,
        calc(8px * 2 + 14px * 2) calc(15px * 2 + 0px * 2) blue,
        calc(8px * 2 + 15px * 2) calc(15px * 2 + 0px * 2) blue,
        calc(8px * 2 + 16px * 2) calc(15px * 2 + 0px * 2) teal,
        calc(8px * 2 + 17px * 2) calc(15px * 2 + 0px * 2) blue,
        calc(8px * 2 + 18px * 2) calc(15px * 2 + 0px * 2) teal,
        calc(8px * 2 + 19px * 2) calc(15px * 2 + 0px * 2) blue,
        calc(8px * 2 + 20px * 2) calc(15px * 2 + 0px * 2) teal,
        calc(8px * 2 + 21px * 2) calc(15px * 2 + 0px * 2) blue,
        calc(8px * 2 + 22px * 2) calc(15px * 2 + 0px * 2) teal,
        calc(8px * 2 + 23px * 2) calc(15px * 2 + 0px * 2) green,
        calc(8px * 2 + 24px * 2) calc(15px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 25px * 2) calc(15px * 2 + 0px * 2) blue,
        calc(8px * 2 + 26px * 2) calc(15px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 27px * 2) calc(15px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 28px * 2) calc(15px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 29px * 2) calc(15px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 30px * 2) calc(15px * 2 + 0px * 2) black,
        calc(8px * 2 + 3px * 2) calc(16px * 2 + 0px * 2) gray,
        calc(8px * 2 + 4px * 2) calc(16px * 2 + 0px * 2) white,
        calc(8px * 2 + 5px * 2) calc(16px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 6px * 2) calc(16px * 2 + 0px * 2) green,
        calc(8px * 2 + 7px * 2) calc(16px * 2 + 0px * 2) green,
        calc(8px * 2 + 8px * 2) calc(16px * 2 + 0px * 2) lime,
        calc(8px * 2 + 9px * 2) calc(16px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(16px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(16px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(16px * 2 + 0px * 2) green,
        calc(8px * 2 + 13px * 2) calc(16px * 2 + 0px * 2) blue,
        calc(8px * 2 + 14px * 2) calc(16px * 2 + 0px * 2) blue,
        calc(8px * 2 + 15px * 2) calc(16px * 2 + 0px * 2) teal,
        calc(8px * 2 + 16px * 2) calc(16px * 2 + 0px * 2) blue,
        calc(8px * 2 + 17px * 2) calc(16px * 2 + 0px * 2) teal,
        calc(8px * 2 + 18px * 2) calc(16px * 2 + 0px * 2) blue,
        calc(8px * 2 + 19px * 2) calc(16px * 2 + 0px * 2) teal,
        calc(8px * 2 + 20px * 2) calc(16px * 2 + 0px * 2) blue,
        calc(8px * 2 + 21px * 2) calc(16px * 2 + 0px * 2) teal,
        calc(8px * 2 + 22px * 2) calc(16px * 2 + 0px * 2) green,
        calc(8px * 2 + 23px * 2) calc(16px * 2 + 0px * 2) lime,
        calc(8px * 2 + 24px * 2) calc(16px * 2 + 0px * 2) green,
        calc(8px * 2 + 25px * 2) calc(16px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 26px * 2) calc(16px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 27px * 2) calc(16px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 28px * 2) calc(16px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 29px * 2) calc(16px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(16px * 2 + 0px * 2) black,
        calc(8px * 2 + 2px * 2) calc(17px * 2 + 0px * 2) gray,
        calc(8px * 2 + 3px * 2) calc(17px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 4px * 2) calc(17px * 2 + 0px * 2) white,
        calc(8px * 2 + 5px * 2) calc(17px * 2 + 0px * 2) white,
        calc(8px * 2 + 6px * 2) calc(17px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 7px * 2) calc(17px * 2 + 0px * 2) teal,
        calc(8px * 2 + 8px * 2) calc(17px * 2 + 0px * 2) green,
        calc(8px * 2 + 9px * 2) calc(17px * 2 + 0px * 2) lime,
        calc(8px * 2 + 10px * 2) calc(17px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(17px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(17px * 2 + 0px * 2) blue,
        calc(8px * 2 + 13px * 2) calc(17px * 2 + 0px * 2) blue,
        calc(8px * 2 + 14px * 2) calc(17px * 2 + 0px * 2) teal,
        calc(8px * 2 + 15px * 2) calc(17px * 2 + 0px * 2) blue,
        calc(8px * 2 + 16px * 2) calc(17px * 2 + 0px * 2) teal,
        calc(8px * 2 + 17px * 2) calc(17px * 2 + 0px * 2) blue,
        calc(8px * 2 + 18px * 2) calc(17px * 2 + 0px * 2) teal,
        calc(8px * 2 + 19px * 2) calc(17px * 2 + 0px * 2) blue,
        calc(8px * 2 + 20px * 2) calc(17px * 2 + 0px * 2) teal,
        calc(8px * 2 + 21px * 2) calc(17px * 2 + 0px * 2) green,
        calc(8px * 2 + 22px * 2) calc(17px * 2 + 0px * 2) lime,
        calc(8px * 2 + 23px * 2) calc(17px * 2 + 0px * 2) green,
        calc(8px * 2 + 24px * 2) calc(17px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 25px * 2) calc(17px * 2 + 0px * 2) blue,
        calc(8px * 2 + 26px * 2) calc(17px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 27px * 2) calc(17px * 2 + 0px * 2) green,
        calc(8px * 2 + 28px * 2) calc(17px * 2 + 0px * 2) green,
        calc(8px * 2 + 29px * 2) calc(17px * 2 + 0px * 2) lime,
        calc(8px * 2 + 30px * 2) calc(17px * 2 + 0px * 2) green,
        calc(8px * 2 + 31px * 2) calc(17px * 2 + 0px * 2) black,
        calc(8px * 2 + 2px * 2) calc(18px * 2 + 0px * 2) gray,
        calc(8px * 2 + 3px * 2) calc(18px * 2 + 0px * 2) white,
        calc(8px * 2 + 4px * 2) calc(18px * 2 + 0px * 2) white,
        calc(8px * 2 + 5px * 2) calc(18px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 6px * 2) calc(18px * 2 + 0px * 2) teal,
        calc(8px * 2 + 7px * 2) calc(18px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 8px * 2) calc(18px * 2 + 0px * 2) green,
        calc(8px * 2 + 9px * 2) calc(18px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(18px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(18px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(18px * 2 + 0px * 2) blue,
        calc(8px * 2 + 13px * 2) calc(18px * 2 + 0px * 2) teal,
        calc(8px * 2 + 14px * 2) calc(18px * 2 + 0px * 2) blue,
        calc(8px * 2 + 15px * 2) calc(18px * 2 + 0px * 2) teal,
        calc(8px * 2 + 16px * 2) calc(18px * 2 + 0px * 2) blue,
        calc(8px * 2 + 17px * 2) calc(18px * 2 + 0px * 2) teal,
        calc(8px * 2 + 18px * 2) calc(18px * 2 + 0px * 2) green,
        calc(8px * 2 + 19px * 2) calc(18px * 2 + 0px * 2) blue,
        calc(8px * 2 + 20px * 2) calc(18px * 2 + 0px * 2) green,
        calc(8px * 2 + 21px * 2) calc(18px * 2 + 0px * 2) lime,
        calc(8px * 2 + 22px * 2) calc(18px * 2 + 0px * 2) green,
        calc(8px * 2 + 23px * 2) calc(18px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 24px * 2) calc(18px * 2 + 0px * 2) blue,
        calc(8px * 2 + 25px * 2) calc(18px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 26px * 2) calc(18px * 2 + 0px * 2) green,
        calc(8px * 2 + 27px * 2) calc(18px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 28px * 2) calc(18px * 2 + 0px * 2) lime,
        calc(8px * 2 + 29px * 2) calc(18px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 30px * 2) calc(18px * 2 + 0px * 2) green,
        calc(8px * 2 + 31px * 2) calc(18px * 2 + 0px * 2) black,
        calc(8px * 2 + 1px * 2) calc(19px * 2 + 0px * 2) gray,
        calc(8px * 2 + 2px * 2) calc(19px * 2 + 0px * 2) gray,
        calc(8px * 2 + 3px * 2) calc(19px * 2 + 0px * 2) white,
        calc(8px * 2 + 4px * 2) calc(19px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 5px * 2) calc(19px * 2 + 0px * 2) teal,
        calc(8px * 2 + 6px * 2) calc(19px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 7px * 2) calc(19px * 2 + 0px * 2) teal,
        calc(8px * 2 + 8px * 2) calc(19px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 9px * 2) calc(19px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(19px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(19px * 2 + 0px * 2) blue,
        calc(8px * 2 + 12px * 2) calc(19px * 2 + 0px * 2) teal,
        calc(8px * 2 + 13px * 2) calc(19px * 2 + 0px * 2) blue,
        calc(8px * 2 + 14px * 2) calc(19px * 2 + 0px * 2) teal,
        calc(8px * 2 + 15px * 2) calc(19px * 2 + 0px * 2) blue,
        calc(8px * 2 + 16px * 2) calc(19px * 2 + 0px * 2) teal,
        calc(8px * 2 + 17px * 2) calc(19px * 2 + 0px * 2) green,
        calc(8px * 2 + 18px * 2) calc(19px * 2 + 0px * 2) lime,
        calc(8px * 2 + 19px * 2) calc(19px * 2 + 0px * 2) black,
        calc(8px * 2 + 20px * 2) calc(19px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 21px * 2) calc(19px * 2 + 0px * 2) green,
        calc(8px * 2 + 22px * 2) calc(19px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 23px * 2) calc(19px * 2 + 0px * 2) blue,
        calc(8px * 2 + 24px * 2) calc(19px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 25px * 2) calc(19px * 2 + 0px * 2) green,
        calc(8px * 2 + 26px * 2) calc(19px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 27px * 2) calc(19px * 2 + 0px * 2) lime,
        calc(8px * 2 + 28px * 2) calc(19px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 29px * 2) calc(19px * 2 + 0px * 2) lime,
        calc(8px * 2 + 30px * 2) calc(19px * 2 + 0px * 2) green,
        calc(8px * 2 + 31px * 2) calc(19px * 2 + 0px * 2) black,
        calc(8px * 2 + 1px * 2) calc(20px * 2 + 0px * 2) gray,
        calc(8px * 2 + 2px * 2) calc(20px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 3px * 2) calc(20px * 2 + 0px * 2) white,
        calc(8px * 2 + 4px * 2) calc(20px * 2 + 0px * 2) teal,
        calc(8px * 2 + 5px * 2) calc(20px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 6px * 2) calc(20px * 2 + 0px * 2) teal,
        calc(8px * 2 + 7px * 2) calc(20px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 8px * 2) calc(20px * 2 + 0px * 2) blue,
        calc(8px * 2 + 9px * 2) calc(20px * 2 + 0px * 2) teal,
        calc(8px * 2 + 10px * 2) calc(20px * 2 + 0px * 2) blue,
        calc(8px * 2 + 11px * 2) calc(20px * 2 + 0px * 2) teal,
        calc(8px * 2 + 12px * 2) calc(20px * 2 + 0px * 2) blue,
        calc(8px * 2 + 13px * 2) calc(20px * 2 + 0px * 2) teal,
        calc(8px * 2 + 14px * 2) calc(20px * 2 + 0px * 2) blue,
        calc(8px * 2 + 15px * 2) calc(20px * 2 + 0px * 2) teal,
        calc(8px * 2 + 16px * 2) calc(20px * 2 + 0px * 2) blue,
        calc(8px * 2 + 17px * 2) calc(20px * 2 + 0px * 2) teal,
        calc(8px * 2 + 18px * 2) calc(20px * 2 + 0px * 2) black,
        calc(8px * 2 + 19px * 2) calc(20px * 2 + 0px * 2) gray,
        calc(8px * 2 + 20px * 2) calc(20px * 2 + 0px * 2) gray,
        calc(8px * 2 + 21px * 2) calc(20px * 2 + 0px * 2) gray,
        calc(8px * 2 + 22px * 2) calc(20px * 2 + 0px * 2) blue,
        calc(8px * 2 + 23px * 2) calc(20px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 24px * 2) calc(20px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 25px * 2) calc(20px * 2 + 0px * 2) green,
        calc(8px * 2 + 26px * 2) calc(20px * 2 + 0px * 2) lime,
        calc(8px * 2 + 27px * 2) calc(20px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 28px * 2) calc(20px * 2 + 0px * 2) lime,
        calc(8px * 2 + 29px * 2) calc(20px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(20px * 2 + 0px * 2) lime,
        calc(8px * 2 + 31px * 2) calc(20px * 2 + 0px * 2) green,
        calc(8px * 2 + 32px * 2) calc(20px * 2 + 0px * 2) black,
        calc(8px * 2 + 1px * 2) calc(21px * 2 + 0px * 2) gray,
        calc(8px * 2 + 2px * 2) calc(21px * 2 + 0px * 2) white,
        calc(8px * 2 + 3px * 2) calc(21px * 2 + 0px * 2) teal,
        calc(8px * 2 + 4px * 2) calc(21px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 5px * 2) calc(21px * 2 + 0px * 2) teal,
        calc(8px * 2 + 6px * 2) calc(21px * 2 + 0px * 2) green,
        calc(8px * 2 + 7px * 2) calc(21px * 2 + 0px * 2) blue,
        calc(8px * 2 + 8px * 2) calc(21px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 9px * 2) calc(21px * 2 + 0px * 2) blue,
        calc(8px * 2 + 10px * 2) calc(21px * 2 + 0px * 2) teal,
        calc(8px * 2 + 11px * 2) calc(21px * 2 + 0px * 2) blue,
        calc(8px * 2 + 12px * 2) calc(21px * 2 + 0px * 2) teal,
        calc(8px * 2 + 13px * 2) calc(21px * 2 + 0px * 2) blue,
        calc(8px * 2 + 14px * 2) calc(21px * 2 + 0px * 2) teal,
        calc(8px * 2 + 15px * 2) calc(21px * 2 + 0px * 2) blue,
        calc(8px * 2 + 16px * 2) calc(21px * 2 + 0px * 2) teal,
        calc(8px * 2 + 17px * 2) calc(21px * 2 + 0px * 2) gray,
        calc(8px * 2 + 18px * 2) calc(21px * 2 + 0px * 2) gray,
        calc(8px * 2 + 19px * 2) calc(21px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 20px * 2) calc(21px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 21px * 2) calc(21px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 22px * 2) calc(21px * 2 + 0px * 2) gray,
        calc(8px * 2 + 23px * 2) calc(21px * 2 + 0px * 2) black,
        calc(8px * 2 + 24px * 2) calc(21px * 2 + 0px * 2) green,
        calc(8px * 2 + 25px * 2) calc(21px * 2 + 0px * 2) lime,
        calc(8px * 2 + 26px * 2) calc(21px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 27px * 2) calc(21px * 2 + 0px * 2) lime,
        calc(8px * 2 + 28px * 2) calc(21px * 2 + 0px * 2) green,
        calc(8px * 2 + 29px * 2) calc(21px * 2 + 0px * 2) lime,
        calc(8px * 2 + 30px * 2) calc(21px * 2 + 0px * 2) green,
        calc(8px * 2 + 31px * 2) calc(21px * 2 + 0px * 2) green,
        calc(8px * 2 + 32px * 2) calc(21px * 2 + 0px * 2) black,
        calc(8px * 2 + 1px * 2) calc(22px * 2 + 0px * 2) gray,
        calc(8px * 2 + 2px * 2) calc(22px * 2 + 0px * 2) white,
        calc(8px * 2 + 3px * 2) calc(22px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 4px * 2) calc(22px * 2 + 0px * 2) green,
        calc(8px * 2 + 5px * 2) calc(22px * 2 + 0px * 2) green,
        calc(8px * 2 + 6px * 2) calc(22px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 7px * 2) calc(22px * 2 + 0px * 2) green,
        calc(8px * 2 + 8px * 2) calc(22px * 2 + 0px * 2) blue,
        calc(8px * 2 + 9px * 2) calc(22px * 2 + 0px * 2) teal,
        calc(8px * 2 + 10px * 2) calc(22px * 2 + 0px * 2) blue,
        calc(8px * 2 + 11px * 2) calc(22px * 2 + 0px * 2) teal,
        calc(8px * 2 + 12px * 2) calc(22px * 2 + 0px * 2) blue,
        calc(8px * 2 + 13px * 2) calc(22px * 2 + 0px * 2) teal,
        calc(8px * 2 + 14px * 2) calc(22px * 2 + 0px * 2) blue,
        calc(8px * 2 + 15px * 2) calc(22px * 2 + 0px * 2) teal,
        calc(8px * 2 + 16px * 2) calc(22px * 2 + 0px * 2) gray,
        calc(8px * 2 + 17px * 2) calc(22px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 18px * 2) calc(22px * 2 + 0px * 2) white,
        calc(8px * 2 + 19px * 2) calc(22px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 20px * 2) calc(22px * 2 + 0px * 2) white,
        calc(8px * 2 + 21px * 2) calc(22px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 22px * 2) calc(22px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 23px * 2) calc(22px * 2 + 0px * 2) teal,
        calc(8px * 2 + 24px * 2) calc(22px * 2 + 0px * 2) black,
        calc(8px * 2 + 25px * 2) calc(22px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 26px * 2) calc(22px * 2 + 0px * 2) lime,
        calc(8px * 2 + 27px * 2) calc(22px * 2 + 0px * 2) green,
        calc(8px * 2 + 28px * 2) calc(22px * 2 + 0px * 2) lime,
        calc(8px * 2 + 29px * 2) calc(22px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(22px * 2 + 0px * 2) green,
        calc(8px * 2 + 31px * 2) calc(22px * 2 + 0px * 2) green,
        calc(8px * 2 + 32px * 2) calc(22px * 2 + 0px * 2) black,
        calc(8px * 2 + 1px * 2) calc(23px * 2 + 0px * 2) gray,
        calc(8px * 2 + 2px * 2) calc(23px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 3px * 2) calc(23px * 2 + 0px * 2) green,
        calc(8px * 2 + 4px * 2) calc(23px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 5px * 2) calc(23px * 2 + 0px * 2) white,
        calc(8px * 2 + 6px * 2) calc(23px * 2 + 0px * 2) white,
        calc(8px * 2 + 7px * 2) calc(23px * 2 + 0px * 2) white,
        calc(8px * 2 + 8px * 2) calc(23px * 2 + 0px * 2) green,
        calc(8px * 2 + 9px * 2) calc(23px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(23px * 2 + 0px * 2) teal,
        calc(8px * 2 + 11px * 2) calc(23px * 2 + 0px * 2) blue,
        calc(8px * 2 + 12px * 2) calc(23px * 2 + 0px * 2) teal,
        calc(8px * 2 + 13px * 2) calc(23px * 2 + 0px * 2) blue,
        calc(8px * 2 + 14px * 2) calc(23px * 2 + 0px * 2) teal,
        calc(8px * 2 + 15px * 2) calc(23px * 2 + 0px * 2) gray,
        calc(8px * 2 + 16px * 2) calc(23px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 17px * 2) calc(23px * 2 + 0px * 2) white,
        calc(8px * 2 + 18px * 2) calc(23px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 19px * 2) calc(23px * 2 + 0px * 2) white,
        calc(8px * 2 + 20px * 2) calc(23px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 21px * 2) calc(23px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 22px * 2) calc(23px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 23px * 2) calc(23px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 24px * 2) calc(23px * 2 + 0px * 2) teal,
        calc(8px * 2 + 25px * 2) calc(23px * 2 + 0px * 2) black,
        calc(8px * 2 + 26px * 2) calc(23px * 2 + 0px * 2) green,
        calc(8px * 2 + 27px * 2) calc(23px * 2 + 0px * 2) lime,
        calc(8px * 2 + 28px * 2) calc(23px * 2 + 0px * 2) green,
        calc(8px * 2 + 29px * 2) calc(23px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(23px * 2 + 0px * 2) green,
        calc(8px * 2 + 31px * 2) calc(23px * 2 + 0px * 2) black,
        calc(8px * 2 + 32px * 2) calc(23px * 2 + 0px * 2) black,
        calc(8px * 2 + 1px * 2) calc(24px * 2 + 0px * 2) gray,
        calc(8px * 2 + 2px * 2) calc(24px * 2 + 0px * 2) green,
        calc(8px * 2 + 3px * 2) calc(24px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 4px * 2) calc(24px * 2 + 0px * 2) white,
        calc(8px * 2 + 5px * 2) calc(24px * 2 + 0px * 2) lime,
        calc(8px * 2 + 6px * 2) calc(24px * 2 + 0px * 2) white,
        calc(8px * 2 + 7px * 2) calc(24px * 2 + 0px * 2) lime,
        calc(8px * 2 + 8px * 2) calc(24px * 2 + 0px * 2) lime,
        calc(8px * 2 + 9px * 2) calc(24px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(24px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(24px * 2 + 0px * 2) teal,
        calc(8px * 2 + 12px * 2) calc(24px * 2 + 0px * 2) blue,
        calc(8px * 2 + 13px * 2) calc(24px * 2 + 0px * 2) teal,
        calc(8px * 2 + 14px * 2) calc(24px * 2 + 0px * 2) blue,
        calc(8px * 2 + 15px * 2) calc(24px * 2 + 0px * 2) gray,
        calc(8px * 2 + 16px * 2) calc(24px * 2 + 0px * 2) white,
        calc(8px * 2 + 17px * 2) calc(24px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 18px * 2) calc(24px * 2 + 0px * 2) white,
        calc(8px * 2 + 19px * 2) calc(24px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 20px * 2) calc(24px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 21px * 2) calc(24px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 22px * 2) calc(24px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 23px * 2) calc(24px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 24px * 2) calc(24px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 25px * 2) calc(24px * 2 + 0px * 2) black,
        calc(8px * 2 + 26px * 2) calc(24px * 2 + 0px * 2) lime,
        calc(8px * 2 + 27px * 2) calc(24px * 2 + 0px * 2) green,
        calc(8px * 2 + 28px * 2) calc(24px * 2 + 0px * 2) lime,
        calc(8px * 2 + 29px * 2) calc(24px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(24px * 2 + 0px * 2) green,
        calc(8px * 2 + 31px * 2) calc(24px * 2 + 0px * 2) green,
        calc(8px * 2 + 32px * 2) calc(24px * 2 + 0px * 2) black,
        calc(8px * 2 + 1px * 2) calc(25px * 2 + 0px * 2) green,
        calc(8px * 2 + 2px * 2) calc(25px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 3px * 2) calc(25px * 2 + 0px * 2) white,
        calc(8px * 2 + 4px * 2) calc(25px * 2 + 0px * 2) lime,
        calc(8px * 2 + 5px * 2) calc(25px * 2 + 0px * 2) white,
        calc(8px * 2 + 6px * 2) calc(25px * 2 + 0px * 2) lime,
        calc(8px * 2 + 7px * 2) calc(25px * 2 + 0px * 2) lime,
        calc(8px * 2 + 8px * 2) calc(25px * 2 + 0px * 2) lime,
        calc(8px * 2 + 9px * 2) calc(25px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(25px * 2 + 0px * 2) teal,
        calc(8px * 2 + 11px * 2) calc(25px * 2 + 0px * 2) blue,
        calc(8px * 2 + 12px * 2) calc(25px * 2 + 0px * 2) blue,
        calc(8px * 2 + 13px * 2) calc(25px * 2 + 0px * 2) blue,
        calc(8px * 2 + 14px * 2) calc(25px * 2 + 0px * 2) gray,
        calc(8px * 2 + 15px * 2) calc(25px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 16px * 2) calc(25px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 17px * 2) calc(25px * 2 + 0px * 2) white,
        calc(8px * 2 + 18px * 2) calc(25px * 2 + 0px * 2) white,
        calc(8px * 2 + 19px * 2) calc(25px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 20px * 2) calc(25px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 21px * 2) calc(25px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 22px * 2) calc(25px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 23px * 2) calc(25px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 24px * 2) calc(25px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 25px * 2) calc(25px * 2 + 0px * 2) teal,
        calc(8px * 2 + 26px * 2) calc(25px * 2 + 0px * 2) black,
        calc(8px * 2 + 27px * 2) calc(25px * 2 + 0px * 2) lime,
        calc(8px * 2 + 28px * 2) calc(25px * 2 + 0px * 2) green,
        calc(8px * 2 + 29px * 2) calc(25px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(25px * 2 + 0px * 2) green,
        calc(8px * 2 + 31px * 2) calc(25px * 2 + 0px * 2) black,
        calc(8px * 2 + 32px * 2) calc(25px * 2 + 0px * 2) black,
        calc(8px * 2 + 1px * 2) calc(26px * 2 + 0px * 2) green,
        calc(8px * 2 + 2px * 2) calc(26px * 2 + 0px * 2) white,
        calc(8px * 2 + 3px * 2) calc(26px * 2 + 0px * 2) lime,
        calc(8px * 2 + 4px * 2) calc(26px * 2 + 0px * 2) white,
        calc(8px * 2 + 5px * 2) calc(26px * 2 + 0px * 2) lime,
        calc(8px * 2 + 6px * 2) calc(26px * 2 + 0px * 2) lime,
        calc(8px * 2 + 7px * 2) calc(26px * 2 + 0px * 2) lime,
        calc(8px * 2 + 8px * 2) calc(26px * 2 + 0px * 2) lime,
        calc(8px * 2 + 9px * 2) calc(26px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(26px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(26px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(26px * 2 + 0px * 2) blue,
        calc(8px * 2 + 13px * 2) calc(26px * 2 + 0px * 2) blue,
        calc(8px * 2 + 14px * 2) calc(26px * 2 + 0px * 2) gray,
        calc(8px * 2 + 15px * 2) calc(26px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 16px * 2) calc(26px * 2 + 0px * 2) white,
        calc(8px * 2 + 17px * 2) calc(26px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 18px * 2) calc(26px * 2 + 0px * 2) white,
        calc(8px * 2 + 19px * 2) calc(26px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 20px * 2) calc(26px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 21px * 2) calc(26px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 22px * 2) calc(26px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 23px * 2) calc(26px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 24px * 2) calc(26px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 25px * 2) calc(26px * 2 + 0px * 2) teal,
        calc(8px * 2 + 26px * 2) calc(26px * 2 + 0px * 2) black,
        calc(8px * 2 + 27px * 2) calc(26px * 2 + 0px * 2) green,
        calc(8px * 2 + 28px * 2) calc(26px * 2 + 0px * 2) green,
        calc(8px * 2 + 29px * 2) calc(26px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(26px * 2 + 0px * 2) black,
        calc(8px * 2 + 31px * 2) calc(26px * 2 + 0px * 2) green,
        calc(8px * 2 + 32px * 2) calc(26px * 2 + 0px * 2) black,
        calc(8px * 2 + 1px * 2) calc(27px * 2 + 0px * 2) green,
        calc(8px * 2 + 2px * 2) calc(27px * 2 + 0px * 2) white,
        calc(8px * 2 + 3px * 2) calc(27px * 2 + 0px * 2) white,
        calc(8px * 2 + 4px * 2) calc(27px * 2 + 0px * 2) lime,
        calc(8px * 2 + 5px * 2) calc(27px * 2 + 0px * 2) lime,
        calc(8px * 2 + 6px * 2) calc(27px * 2 + 0px * 2) lime,
        calc(8px * 2 + 7px * 2) calc(27px * 2 + 0px * 2) lime,
        calc(8px * 2 + 8px * 2) calc(27px * 2 + 0px * 2) lime,
        calc(8px * 2 + 9px * 2) calc(27px * 2 + 0px * 2) lime,
        calc(8px * 2 + 10px * 2) calc(27px * 2 + 0px * 2) lime,
        calc(8px * 2 + 11px * 2) calc(27px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(27px * 2 + 0px * 2) green,
        calc(8px * 2 + 13px * 2) calc(27px * 2 + 0px * 2) green,
        calc(8px * 2 + 14px * 2) calc(27px * 2 + 0px * 2) gray,
        calc(8px * 2 + 15px * 2) calc(27px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 16px * 2) calc(27px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 17px * 2) calc(27px * 2 + 0px * 2) white,
        calc(8px * 2 + 18px * 2) calc(27px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 19px * 2) calc(27px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 20px * 2) calc(27px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 21px * 2) calc(27px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 22px * 2) calc(27px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 23px * 2) calc(27px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 24px * 2) calc(27px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 25px * 2) calc(27px * 2 + 0px * 2) teal,
        calc(8px * 2 + 26px * 2) calc(27px * 2 + 0px * 2) black,
        calc(8px * 2 + 27px * 2) calc(27px * 2 + 0px * 2) lime,
        calc(8px * 2 + 28px * 2) calc(27px * 2 + 0px * 2) green,
        calc(8px * 2 + 29px * 2) calc(27px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(27px * 2 + 0px * 2) green,
        calc(8px * 2 + 31px * 2) calc(27px * 2 + 0px * 2) black,
        calc(8px * 2 + 32px * 2) calc(27px * 2 + 0px * 2) black,
        calc(8px * 2 + 2px * 2) calc(28px * 2 + 0px * 2) green,
        calc(8px * 2 + 3px * 2) calc(28px * 2 + 0px * 2) white,
        calc(8px * 2 + 4px * 2) calc(28px * 2 + 0px * 2) lime,
        calc(8px * 2 + 5px * 2) calc(28px * 2 + 0px * 2) lime,
        calc(8px * 2 + 6px * 2) calc(28px * 2 + 0px * 2) lime,
        calc(8px * 2 + 7px * 2) calc(28px * 2 + 0px * 2) lime,
        calc(8px * 2 + 8px * 2) calc(28px * 2 + 0px * 2) green,
        calc(8px * 2 + 9px * 2) calc(28px * 2 + 0px * 2) lime,
        calc(8px * 2 + 10px * 2) calc(28px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(28px * 2 + 0px * 2) lime,
        calc(8px * 2 + 12px * 2) calc(28px * 2 + 0px * 2) green,
        calc(8px * 2 + 13px * 2) calc(28px * 2 + 0px * 2) green,
        calc(8px * 2 + 14px * 2) calc(28px * 2 + 0px * 2) green,
        calc(8px * 2 + 15px * 2) calc(28px * 2 + 0px * 2) gray,
        calc(8px * 2 + 16px * 2) calc(28px * 2 + 0px * 2) white,
        calc(8px * 2 + 17px * 2) calc(28px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 18px * 2) calc(28px * 2 + 0px * 2) white,
        calc(8px * 2 + 19px * 2) calc(28px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 20px * 2) calc(28px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 21px * 2) calc(28px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 22px * 2) calc(28px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 23px * 2) calc(28px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 24px * 2) calc(28px * 2 + 0px * 2) teal,
        calc(8px * 2 + 25px * 2) calc(28px * 2 + 0px * 2) black,
        calc(8px * 2 + 26px * 2) calc(28px * 2 + 0px * 2) lime,
        calc(8px * 2 + 27px * 2) calc(28px * 2 + 0px * 2) green,
        calc(8px * 2 + 28px * 2) calc(28px * 2 + 0px * 2) green,
        calc(8px * 2 + 29px * 2) calc(28px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(28px * 2 + 0px * 2) black,
        calc(8px * 2 + 31px * 2) calc(28px * 2 + 0px * 2) black,
        calc(8px * 2 + 2px * 2) calc(29px * 2 + 0px * 2) green,
        calc(8px * 2 + 3px * 2) calc(29px * 2 + 0px * 2) lime,
        calc(8px * 2 + 4px * 2) calc(29px * 2 + 0px * 2) white,
        calc(8px * 2 + 5px * 2) calc(29px * 2 + 0px * 2) lime,
        calc(8px * 2 + 6px * 2) calc(29px * 2 + 0px * 2) lime,
        calc(8px * 2 + 7px * 2) calc(29px * 2 + 0px * 2) lime,
        calc(8px * 2 + 8px * 2) calc(29px * 2 + 0px * 2) lime,
        calc(8px * 2 + 9px * 2) calc(29px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(29px * 2 + 0px * 2) lime,
        calc(8px * 2 + 11px * 2) calc(29px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(29px * 2 + 0px * 2) lime,
        calc(8px * 2 + 13px * 2) calc(29px * 2 + 0px * 2) green,
        calc(8px * 2 + 14px * 2) calc(29px * 2 + 0px * 2) green,
        calc(8px * 2 + 15px * 2) calc(29px * 2 + 0px * 2) gray,
        calc(8px * 2 + 16px * 2) calc(29px * 2 + 0px * 2) teal,
        calc(8px * 2 + 17px * 2) calc(29px * 2 + 0px * 2) white,
        calc(8px * 2 + 18px * 2) calc(29px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 19px * 2) calc(29px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 20px * 2) calc(29px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 21px * 2) calc(29px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 22px * 2) calc(29px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 23px * 2) calc(29px * 2 + 0px * 2) teal,
        calc(8px * 2 + 24px * 2) calc(29px * 2 + 0px * 2) teal,
        calc(8px * 2 + 25px * 2) calc(29px * 2 + 0px * 2) black,
        calc(8px * 2 + 26px * 2) calc(29px * 2 + 0px * 2) green,
        calc(8px * 2 + 27px * 2) calc(29px * 2 + 0px * 2) green,
        calc(8px * 2 + 28px * 2) calc(29px * 2 + 0px * 2) green,
        calc(8px * 2 + 29px * 2) calc(29px * 2 + 0px * 2) black,
        calc(8px * 2 + 30px * 2) calc(29px * 2 + 0px * 2) green,
        calc(8px * 2 + 31px * 2) calc(29px * 2 + 0px * 2) black,
        calc(8px * 2 + 2px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 3px * 2) calc(30px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 4px * 2) calc(30px * 2 + 0px * 2) lime,
        calc(8px * 2 + 5px * 2) calc(30px * 2 + 0px * 2) lime,
        calc(8px * 2 + 6px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 7px * 2) calc(30px * 2 + 0px * 2) lime,
        calc(8px * 2 + 8px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 9px * 2) calc(30px * 2 + 0px * 2) lime,
        calc(8px * 2 + 10px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(30px * 2 + 0px * 2) lime,
        calc(8px * 2 + 12px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 13px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 14px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 15px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 16px * 2) calc(30px * 2 + 0px * 2) gray,
        calc(8px * 2 + 17px * 2) calc(30px * 2 + 0px * 2) teal,
        calc(8px * 2 + 18px * 2) calc(30px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 19px * 2) calc(30px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 20px * 2) calc(30px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 21px * 2) calc(30px * 2 + 0px * 2) cyan,
        calc(8px * 2 + 22px * 2) calc(30px * 2 + 0px * 2) teal,
        calc(8px * 2 + 23px * 2) calc(30px * 2 + 0px * 2) teal,
        calc(8px * 2 + 24px * 2) calc(30px * 2 + 0px * 2) black,
        calc(8px * 2 + 25px * 2) calc(30px * 2 + 0px * 2) gray,
        calc(8px * 2 + 26px * 2) calc(30px * 2 + 0px * 2) black,
        calc(8px * 2 + 27px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 28px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 29px * 2) calc(30px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(30px * 2 + 0px * 2) black,
        calc(8px * 2 + 31px * 2) calc(30px * 2 + 0px * 2) black,
        calc(8px * 2 + 3px * 2) calc(31px * 2 + 0px * 2) green,
        calc(8px * 2 + 4px * 2) calc(31px * 2 + 0px * 2) lime,
        calc(8px * 2 + 5px * 2) calc(31px * 2 + 0px * 2) green,
        calc(8px * 2 + 6px * 2) calc(31px * 2 + 0px * 2) lime,
        calc(8px * 2 + 7px * 2) calc(31px * 2 + 0px * 2) green,
        calc(8px * 2 + 8px * 2) calc(31px * 2 + 0px * 2) lime,
        calc(8px * 2 + 9px * 2) calc(31px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(31px * 2 + 0px * 2) lime,
        calc(8px * 2 + 11px * 2) calc(31px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(31px * 2 + 0px * 2) lime,
        calc(8px * 2 + 13px * 2) calc(31px * 2 + 0px * 2) green,
        calc(8px * 2 + 14px * 2) calc(31px * 2 + 0px * 2) black,
        calc(8px * 2 + 15px * 2) calc(31px * 2 + 0px * 2) blue,
        calc(8px * 2 + 16px * 2) calc(31px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 17px * 2) calc(31px * 2 + 0px * 2) black,
        calc(8px * 2 + 18px * 2) calc(31px * 2 + 0px * 2) black,
        calc(8px * 2 + 19px * 2) calc(31px * 2 + 0px * 2) teal,
        calc(8px * 2 + 20px * 2) calc(31px * 2 + 0px * 2) teal,
        calc(8px * 2 + 21px * 2) calc(31px * 2 + 0px * 2) teal,
        calc(8px * 2 + 22px * 2) calc(31px * 2 + 0px * 2) black,
        calc(8px * 2 + 23px * 2) calc(31px * 2 + 0px * 2) black,
        calc(8px * 2 + 24px * 2) calc(31px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 25px * 2) calc(31px * 2 + 0px * 2) gray,
        calc(8px * 2 + 26px * 2) calc(31px * 2 + 0px * 2) gray,
        calc(8px * 2 + 27px * 2) calc(31px * 2 + 0px * 2) black,
        calc(8px * 2 + 28px * 2) calc(31px * 2 + 0px * 2) green,
        calc(8px * 2 + 29px * 2) calc(31px * 2 + 0px * 2) black,
        calc(8px * 2 + 30px * 2) calc(31px * 2 + 0px * 2) black,
        calc(8px * 2 + 3px * 2) calc(32px * 2 + 0px * 2) green,
        calc(8px * 2 + 4px * 2) calc(32px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 5px * 2) calc(32px * 2 + 0px * 2) lime,
        calc(8px * 2 + 6px * 2) calc(32px * 2 + 0px * 2) green,
        calc(8px * 2 + 7px * 2) calc(32px * 2 + 0px * 2) lime,
        calc(8px * 2 + 8px * 2) calc(32px * 2 + 0px * 2) green,
        calc(8px * 2 + 9px * 2) calc(32px * 2 + 0px * 2) lime,
        calc(8px * 2 + 10px * 2) calc(32px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(32px * 2 + 0px * 2) lime,
        calc(8px * 2 + 12px * 2) calc(32px * 2 + 0px * 2) green,
        calc(8px * 2 + 13px * 2) calc(32px * 2 + 0px * 2) green,
        calc(8px * 2 + 14px * 2) calc(32px * 2 + 0px * 2) black,
        calc(8px * 2 + 15px * 2) calc(32px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 16px * 2) calc(32px * 2 + 0px * 2) blue,
        calc(8px * 2 + 17px * 2) calc(32px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 18px * 2) calc(32px * 2 + 0px * 2) blue,
        calc(8px * 2 + 19px * 2) calc(32px * 2 + 0px * 2) black,
        calc(8px * 2 + 20px * 2) calc(32px * 2 + 0px * 2) black,
        calc(8px * 2 + 21px * 2) calc(32px * 2 + 0px * 2) black,
        calc(8px * 2 + 22px * 2) calc(32px * 2 + 0px * 2) gray,
        calc(8px * 2 + 23px * 2) calc(32px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 24px * 2) calc(32px * 2 + 0px * 2) white,
        calc(8px * 2 + 25px * 2) calc(32px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 26px * 2) calc(32px * 2 + 0px * 2) gray,
        calc(8px * 2 + 27px * 2) calc(32px * 2 + 0px * 2) brown,
        calc(8px * 2 + 28px * 2) calc(32px * 2 + 0px * 2) black,
        calc(8px * 2 + 29px * 2) calc(32px * 2 + 0px * 2) green,
        calc(8px * 2 + 30px * 2) calc(32px * 2 + 0px * 2) black,
        calc(8px * 2 + 4px * 2) calc(33px * 2 + 0px * 2) green,
        calc(8px * 2 + 5px * 2) calc(33px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 6px * 2) calc(33px * 2 + 0px * 2) lime,
        calc(8px * 2 + 7px * 2) calc(33px * 2 + 0px * 2) green,
        calc(8px * 2 + 8px * 2) calc(33px * 2 + 0px * 2) lime,
        calc(8px * 2 + 9px * 2) calc(33px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(33px * 2 + 0px * 2) lime,
        calc(8px * 2 + 11px * 2) calc(33px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(33px * 2 + 0px * 2) green,
        calc(8px * 2 + 13px * 2) calc(33px * 2 + 0px * 2) green,
        calc(8px * 2 + 14px * 2) calc(33px * 2 + 0px * 2) black,
        calc(8px * 2 + 15px * 2) calc(33px * 2 + 0px * 2) blue,
        calc(8px * 2 + 16px * 2) calc(33px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 17px * 2) calc(33px * 2 + 0px * 2) blue,
        calc(8px * 2 + 18px * 2) calc(33px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 19px * 2) calc(33px * 2 + 0px * 2) blue,
        calc(8px * 2 + 20px * 2) calc(33px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 21px * 2) calc(33px * 2 + 0px * 2) blue,
        calc(8px * 2 + 22px * 2) calc(33px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 23px * 2) calc(33px * 2 + 0px * 2) gray,
        calc(8px * 2 + 24px * 2) calc(33px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 25px * 2) calc(33px * 2 + 0px * 2) white,
        calc(8px * 2 + 26px * 2) calc(33px * 2 + 0px * 2) red,
        calc(8px * 2 + 27px * 2) calc(33px * 2 + 0px * 2) brown,
        calc(8px * 2 + 28px * 2) calc(33px * 2 + 0px * 2) brown,
        calc(8px * 2 + 29px * 2) calc(33px * 2 + 0px * 2) black,
        calc(8px * 2 + 5px * 2) calc(34px * 2 + 0px * 2) green,
        calc(8px * 2 + 6px * 2) calc(34px * 2 + 0px * 2) green,
        calc(8px * 2 + 7px * 2) calc(34px * 2 + 0px * 2) lime,
        calc(8px * 2 + 8px * 2) calc(34px * 2 + 0px * 2) green,
        calc(8px * 2 + 9px * 2) calc(34px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(34px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(34px * 2 + 0px * 2) green,
        calc(8px * 2 + 12px * 2) calc(34px * 2 + 0px * 2) black,
        calc(8px * 2 + 13px * 2) calc(34px * 2 + 0px * 2) black,
        calc(8px * 2 + 14px * 2) calc(34px * 2 + 0px * 2) blue,
        calc(8px * 2 + 15px * 2) calc(34px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 16px * 2) calc(34px * 2 + 0px * 2) blue,
        calc(8px * 2 + 17px * 2) calc(34px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 18px * 2) calc(34px * 2 + 0px * 2) blue,
        calc(8px * 2 + 19px * 2) calc(34px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 20px * 2) calc(34px * 2 + 0px * 2) blue,
        calc(8px * 2 + 21px * 2) calc(34px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 22px * 2) calc(34px * 2 + 0px * 2) green,
        calc(8px * 2 + 23px * 2) calc(34px * 2 + 0px * 2) lime,
        calc(8px * 2 + 24px * 2) calc(34px * 2 + 0px * 2) gray,
        calc(8px * 2 + 25px * 2) calc(34px * 2 + 0px * 2) red,
        calc(8px * 2 + 26px * 2) calc(34px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 27px * 2) calc(34px * 2 + 0px * 2) red,
        calc(8px * 2 + 28px * 2) calc(34px * 2 + 0px * 2) brown,
        calc(8px * 2 + 29px * 2) calc(34px * 2 + 0px * 2) brown,
        calc(8px * 2 + 30px * 2) calc(34px * 2 + 0px * 2) black,
        calc(8px * 2 + 6px * 2) calc(35px * 2 + 0px * 2) green,
        calc(8px * 2 + 7px * 2) calc(35px * 2 + 0px * 2) green,
        calc(8px * 2 + 8px * 2) calc(35px * 2 + 0px * 2) green,
        calc(8px * 2 + 9px * 2) calc(35px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(35px * 2 + 0px * 2) green,
        calc(8px * 2 + 11px * 2) calc(35px * 2 + 0px * 2) black,
        calc(8px * 2 + 12px * 2) calc(35px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 13px * 2) calc(35px * 2 + 0px * 2) blue,
        calc(8px * 2 + 14px * 2) calc(35px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 15px * 2) calc(35px * 2 + 0px * 2) blue,
        calc(8px * 2 + 16px * 2) calc(35px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 17px * 2) calc(35px * 2 + 0px * 2) blue,
        calc(8px * 2 + 18px * 2) calc(35px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 19px * 2) calc(35px * 2 + 0px * 2) blue,
        calc(8px * 2 + 20px * 2) calc(35px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 21px * 2) calc(35px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 22px * 2) calc(35px * 2 + 0px * 2) green,
        calc(8px * 2 + 23px * 2) calc(35px * 2 + 0px * 2) green,
        calc(8px * 2 + 24px * 2) calc(35px * 2 + 0px * 2) black,
        calc(8px * 2 + 25px * 2) calc(35px * 2 + 0px * 2) brown,
        calc(8px * 2 + 26px * 2) calc(35px * 2 + 0px * 2) red,
        calc(8px * 2 + 27px * 2) calc(35px * 2 + 0px * 2) darkgray,
        calc(8px * 2 + 28px * 2) calc(35px * 2 + 0px * 2) red,
        calc(8px * 2 + 29px * 2) calc(35px * 2 + 0px * 2) brown,
        calc(8px * 2 + 30px * 2) calc(35px * 2 + 0px * 2) brown,
        calc(8px * 2 + 31px * 2) calc(35px * 2 + 0px * 2) black,
        calc(8px * 2 + 7px * 2) calc(36px * 2 + 0px * 2) green,
        calc(8px * 2 + 8px * 2) calc(36px * 2 + 0px * 2) green,
        calc(8px * 2 + 9px * 2) calc(36px * 2 + 0px * 2) green,
        calc(8px * 2 + 10px * 2) calc(36px * 2 + 0px * 2) black,
        calc(8px * 2 + 11px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 12px * 2) calc(36px * 2 + 0px * 2) blue,
        calc(8px * 2 + 13px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 14px * 2) calc(36px * 2 + 0px * 2) blue,
        calc(8px * 2 + 15px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 16px * 2) calc(36px * 2 + 0px * 2) blue,
        calc(8px * 2 + 17px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 18px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 19px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 20px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 21px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 22px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 23px * 2) calc(36px * 2 + 0px * 2) black,
        calc(8px * 2 + 24px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 25px * 2) calc(36px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 26px * 2) calc(36px * 2 + 0px * 2) brown,
        calc(8px * 2 + 27px * 2) calc(36px * 2 + 0px * 2) red,
        calc(8px * 2 + 28px * 2) calc(36px * 2 + 0px * 2) magenta,
        calc(8px * 2 + 29px * 2) calc(36px * 2 + 0px * 2) red,
        calc(8px * 2 + 30px * 2) calc(36px * 2 + 0px * 2) brown,
        calc(8px * 2 + 31px * 2) calc(36px * 2 + 0px * 2) brown,
        calc(8px * 2 + 32px * 2) calc(36px * 2 + 0px * 2) black,
        calc(8px * 2 + 8px * 2) calc(37px * 2 + 0px * 2) black,
        calc(8px * 2 + 9px * 2) calc(37px * 2 + 0px * 2) black,
        calc(8px * 2 + 10px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 11px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 12px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 13px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 14px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 15px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 16px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 17px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 18px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 19px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 20px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 21px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 22px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 23px * 2) calc(37px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 24px * 2) calc(37px * 2 + 0px * 2) black,
        calc(8px * 2 + 25px * 2) calc(37px * 2 + 0px * 2) black,
        calc(8px * 2 + 27px * 2) calc(37px * 2 + 0px * 2) brown,
        calc(8px * 2 + 28px * 2) calc(37px * 2 + 0px * 2) red,
        calc(8px * 2 + 29px * 2) calc(37px * 2 + 0px * 2) magenta,
        calc(8px * 2 + 30px * 2) calc(37px * 2 + 0px * 2) red,
        calc(8px * 2 + 31px * 2) calc(37px * 2 + 0px * 2) brown,
        calc(8px * 2 + 32px * 2) calc(37px * 2 + 0px * 2) black,
        calc(8px * 2 + 10px * 2) calc(38px * 2 + 0px * 2) black,
        calc(8px * 2 + 11px * 2) calc(38px * 2 + 0px * 2) black,
        calc(8px * 2 + 12px * 2) calc(38px * 2 + 0px * 2) black,
        calc(8px * 2 + 13px * 2) calc(38px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 14px * 2) calc(38px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 15px * 2) calc(38px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 16px * 2) calc(38px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 17px * 2) calc(38px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 18px * 2) calc(38px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 19px * 2) calc(38px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 20px * 2) calc(38px * 2 + 0px * 2) darkblue,
        calc(8px * 2 + 21px * 2) calc(38px * 2 + 0px * 2) black,
        calc(8px * 2 + 22px * 2) calc(38px * 2 + 0px * 2) black,
        calc(8px * 2 + 23px * 2) calc(38px * 2 + 0px * 2) black,
        calc(8px * 2 + 28px * 2) calc(38px * 2 + 0px * 2) brown,
        calc(8px * 2 + 29px * 2) calc(38px * 2 + 0px * 2) red,
        calc(8px * 2 + 30px * 2) calc(38px * 2 + 0px * 2) red,
        calc(8px * 2 + 31px * 2) calc(38px * 2 + 0px * 2) brown,
        calc(8px * 2 + 32px * 2) calc(38px * 2 + 0px * 2) black,
        calc(8px * 2 + 13px * 2) calc(39px * 2 + 0px * 2) black,
        calc(8px * 2 + 14px * 2) calc(39px * 2 + 0px * 2) black,
        calc(8px * 2 + 15px * 2) calc(39px * 2 + 0px * 2) black,
        calc(8px * 2 + 16px * 2) calc(39px * 2 + 0px * 2) black,
        calc(8px * 2 + 17px * 2) calc(39px * 2 + 0px * 2) black,
        calc(8px * 2 + 18px * 2) calc(39px * 2 + 0px * 2) black,
        calc(8px * 2 + 19px * 2) calc(39px * 2 + 0px * 2) black,
        calc(8px * 2 + 20px * 2) calc(39px * 2 + 0px * 2) black,
        calc(8px * 2 + 29px * 2) calc(39px * 2 + 0px * 2) black,
        calc(8px * 2 + 30px * 2) calc(39px * 2 + 0px * 2) black,
        calc(8px * 2 + 31px * 2) calc(39px * 2 + 0px * 2) black;
}
