#main_window {
    /* dimensions and positioning */
    width: 400px;
    height: 600px;
    left: calc(50% - (400px / 2)); /* starting position */
    top: calc(50% - (600px / 2)); /* starting position */
    z-index: 1000;
}

#main_window_canvas {
    /* dimensions and positioning */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em;

    /* appearance */
    font-size: 24px;
}

#about_window {
    /* dimensions and positioning */
    width: 500px;
    height: 300px;
    left: calc(50% - (500px / 2)); /* starting position */
    top: calc(50% - (300px / 2)); /* starting position */
}

#about_window_canvas {
    /* dimensions and positioning */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5em;

    /* appearance */
    font-size: 24px;
}

#about_window_github_box {
    /* dimensions and positioning */
    margin-top: auto;
    height: 2.5em;
    padding: 0.25em;
}
