.win95_desktop_icon_container {
    /* dimensions and positioning */
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 24px;
    width: calc(100% - 2 * 24px);
    height: calc(100% - 2 * 24px);
}
 .win95_desktop_icon_container a {
    height: calc(2 * 48px + 24px + 0.15em);
 }

#main_window {
    /* dimensions and positioning */
    width: 400px;
    max-width: 100%;
    min-height: 600px;
    max-height: 100%;
    left: calc(50% - (min(100%, 400px) / 2)); /* starting position */
    top: calc(50% - (min(100%, 600px) / 2)); /* starting position */
    z-index: 1000;
}

#main_window_canvas {
    /* dimensions and positioning */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.6em;

    /* appearance */
    font-size: 20px;
}

#about_window {
    /* dimensions and positioning */
    width: 500px;
    max-width: 100%;
    min-height: 250px;
    max-height: 100%;
    left: calc(50% - (min(100%, 500px) / 2)); /* starting position */
    top: calc(50% - (min(100%, 325px) / 2)); /* starting position */
}

#about_window_canvas {
    /* dimensions and positioning */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5em;

    /* appearance */
    font-size: 24px;
}

#about_window_github_box {
    /* dimensions and positioning */
    margin-top: auto;
    height: 100px;
    padding: 0.25em;
}

.homepage_welcome_image_container {
    /* dimensions and positioning */
    right: 5px;
    bottom: -2px;
    position: absolute;
}

.homepage_welcome_image_container img {
    /* appearance */
    filter: opacity(0.5);
}

#main_window_canvas .signature {
    /* dimensions and positioning */
    margin-top: auto;
    margin-bottom: 1em;
    margin-left: 0.25em;
}
